<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aska.mybatisdemo.mapper.BaseAuthorMapper">
    <resultMap id="BaseResultMap" type="com.aska.mybatisdemo.dto.response.AuthorBookBean">
        <result column="bookId" jdbcType="VARCHAR" property="bookId"/>
        <result column="bookName" jdbcType="VARCHAR" property="bookName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="authorName" jdbcType="VARCHAR" property="authorName"/>
    </resultMap>
    <select id="selectAuthorBooks" resultMap="BaseResultMap">
        SELECT
        b.id bookid,
        b.NAME bookname,
        b.price,
        a.`name` authorname
        FROM
        base_author a
        INNER JOIN base_book b ON a.id = b.author_id
        WHERE
        1 = 1
        <if test="bookName != null and bookName != ''">
            and b.NAME LIKE CONCAT('%', #{bookName}, '%');
        </if>
    </select>
</mapper>